doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mint your own Boba Tea NFT and gain exclusive access to future NFT drops (e.g. Boba Monsters), passive earnings model, and future dApps.')
        meta(name='author', content='Boba Vault')

        title Boba Vault | Boba Tea NFT #{'&'} Boba Monsters

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-Q9SCTJ3PXC')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-Q9SCTJ3PXC');

    body

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            a.navbar-brand(href='#') &#x1F9CB; Boba Vault
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarTogglerDemo02.collapse.navbar-collapse
              ul.navbar-nav.me-auto.mb-2.mb-lg-0
              .d-flex.gap-2
                a.btn.btn-outline-dark(href='https://twitter.com/bobavault')
                  i.bi.bi-twitter
                a.btn.btn-outline-dark(href='https://discord.gg/QBQdUverCJ')
                  i.bi.bi-discord
                a.btn.btn-primary(href='#!') Connect Wallet

        // Masthead
        header#mint.masthead
            .container.position-relative
                .row.justify-content-center.gap-5.align-items-center
                    .col-xl-5.text-white
                        // Page heading
                        h1.mb-4 10,000 unique Boba Teas!
                        p.mb-5.lead We're building an exclusive Boba Vault and your Boba Tea NFTs are the ticket! You'll get exclusive access to future NFT drops #{'('}e.g. BobaMonsters#{')'}, passive earnings model, and future dApps.
                        // Minting button
                        .row
                            .d-grid.gap-3.d-md-flex.justify-content-md-left
                                a.btn.btn-outline-light.btn-lg(href='#roadmap') Roadmap
                                button.btn.btn-primary.btn-lg(type='button' href='#!') MINT
                    .col-xl-5
                        #carousel.carousel.slide.carousel-fade(data-bs-ride='carousel' data-bs-pause='false' data-bs-interval='1000')
                            .carousel-inner 
                                .carousel-item.active.carousel-item-start
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/01.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/02.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/03.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/04.png' alt='...') 
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/05.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/06.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/07.png' alt='...') 
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/08.png' alt='...')
                                .carousel-item
                                    img.d-block.w-100.rounded-3(src='/assets/img/carousel/tinified-2/09.png' alt='...') 

        // Varieties
        section.varieties.bg-light.text-center
            .container.pt-5.pb-5
                .row.pb-5.pt-4
                    .col
                        h2 Each Boba is unique, which one will you mint?
                .row.align-items-center
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/02.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/01.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/12.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/10.png' alt='...')
                .row.align-items-center
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/03.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/04.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/11.png' alt='...')
                    .col-lg-3.col-md-6.col-sm-6.col-6
                        img.d-block.w-100.rounded-3.mr-4.mb-4(src='/assets/img/varieties/tinified/09.png' alt='...')

        // BobaMonsters
        section.bobamonsters.bg-dark.text-white
            .container.pt-5.pb-5
                .row.text-center.pb-1.pt-4
                    .col
                        h2 Boba Monsters
                .row.justify-content-center.mt-4.mb-4
                    .col-xl-6
                        img.d-block.w-100(src='/assets/img/bobamonsters/bobamonsters-1.png' alt='...') 
                .row.pb-4.justify-content-center
                    .col-xl-10
                        p.lead Boba Monsters are cute little creatures that love to snoop on tapioca pearls. They have authentic characters that will engage you in the mysterious world that lays ahead. Boba Monsters can smell the brewing of boba from miles away and they will pop up trying to get some. If you feed them, you can keep them as a pet! They are super cute and easy to maintain, only requiring some tapioca. 
                        p.lead Boba Monsters will be an exclusive NFT drop to Boba Tea NFT holders! We are developing a bright future for these cuties, and they will play an important role in the future of all Boba Vault projects.

        // Roadmap
        section#roadmap.roadmap.bg-light
            .container.pt-5.pb-5
                .row.justify-content-center.pt-4
                    .col-xl-8.text-center
                        h2.pb-2 Roadmap
                        img.d-block.w-100(src='/assets/img/roadmap/roadmap.png' alt='...')

        // Community
        section.community.bg-dark.text-white
            .container.pt-5.pb-2
                .row.text-center.pb-3.pt-3
                    .col
                        h2 Join the community
                .row.pb-5.justify-content-center.align-items-center.gap-4
                    .col-xl-3.col-md-5.col-5
                        img.d-block.w-100.mr-4.mb-4(src='/assets/img/logo-2-transparant.png' alt='...')
                    .col-xl-6.col-md-6.pb-3
                        p.lead.pb-2 Boba Vault's Discord is vastly growing! If you want to join the boba family it’s here. Join us to get the news as soon as possible and follow our latest announcements.
                        a.btn.btn-primary.btn-lg(href='https://discord.gg/QBQdUverCJ') JOIN THE DISCORD
                    


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')